/*navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;

}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
}

.pokeball {
    display: none;
}

@media(min-width:700px){
    .pokeball {
        display: block;
        width: 5rem; /* Same as the text height */
        height: 5rem; /* Same as the text height */
        animation: bounce 2s infinite ease-in-out; /* Bounce animations */
    }

    /* Bouncing animation */
    @keyframes bounce {
        0%, 100% {
            transform: translateY(0); /* Start and end at the base */
        }
        50% {
            transform: translateY(-1rem); /* Jump up */
        }
    }
    
}

.introduction-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.introduction {
    background-color: white;
    border-radius: 1rem;
    border: 0.3rem solid var(--primary-color);  
    padding: 1rem;
    margin: 1rem;
    max-width:60rem;
}


