/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3b4cca; /* Pokémon-blå */
    --secondary-color: #ffcb05; /* Pokémon-gul */
    --background-color: rgba(255, 255, 255, 0.9); /* Transparent vit */
    --text-color: #333; /* Textfärg */
    --shadow-color: rgba(0, 0, 0, 0.2); /* Standard skuggfärg */
}

/* Base Settings */
html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    background: url(/May-pokemon.webp);
}


h1 {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--secondary-color);
    text-shadow: 2px 2px 0 var(--primary-color);
    font-size: 5rem;
    margin-bottom: 2rem;
}

 h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    text-shadow: 2px 2px 0 var(--primary-color);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h3 {
    color: var(--text-color);
}


p {
    color: var(--text-color);
    font-size: medium;
}

/* Button Styling */
button {
    background-color: var(--primary-color);
    padding: 1.5rem 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--background-color);
    border: 0.3rem solid var(--secondary-color);
    border-radius: 2.5rem;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Input Fields */
header input[type="text"] {
    border-color: var(--primary-color); 
    box-shadow: 0.6rem 1.2rem var(--shadow-color);
    background-color: var(--background-color);
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);
    width: 40rem;
}

input[type="text"]::placeholder {
    color: var(--text-color);
}

/* Search Input */
input#search {
    width: 30rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: 0.3rem solid var(--primary-color);
    border-radius: 2.5rem;
    /* background: linear-gradient(145deg, var(--background-color), rgba(240, 240, 240, 0.9)); */
    color: var(--text-color);
    text-align: center;
}

@media (min-width: 700px) {
    input#search {
        width: 40rem;
    }
}








