* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3b4cca; /* Pokémon-blå */
    --secondary-color: #ffcb05; /* Pokémon-gul */
    --background-color: rgba(255, 255, 255, 0.9); /* Transparent vit */
    --text-color: #333; /* Textfärg */
    --shadow-color: rgba(0, 0, 0, 0.2); /* Standard skuggfärg */
    --pokedex-red: #ff1a1a; /* Klassisk Pokedex-röd */
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: var(--text-color);
    line-height: 1.6;
    padding: 2rem;
    background: url(/May-pokemon.webp);
}

@font-face {
    font-family: 'Pokemon';
    src: url('pokemon.ttf') format('truetype');
}

/* Header Styling */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}

h1 {
    font-size: 5rem;
    color: var(--secondary-color);
    text-shadow: 0.2rem 0.2rem 0 var(--primary-color);
    margin-bottom: 2rem;
    font-family: 'Pokemon', sans-serif;
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
}

p {
    color:var(--text-color);
    font-size: medium;
}

button {
    background-color: #2a3696;
    transform: scale(1.1); 
    padding: 1.5rem 2.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: #fff;
    border: 0.3rem solid var(--secondary-color);
    border-radius: 2.5rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.3s ease;
}



.navbar {
background-color: var(--pokedex-red);
}

header input[type="text"] {
    border-color: var(--primary-color); 
    box-shadow: 0.6rem 1.2rem var(--shadow-color);
    background-color: var(--background-color);
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);
    width: 40rem;
}

header input[type="text"]:focus {
    outline: none;
    border-color: var(--secondary-color); 
    box-shadow: inset 0 0.3rem 0.6rem var(--shadow-color), 0 0.6rem 1.2rem rgba(255, 203, 5, 0.5);
}

input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
    font-size: 1.4rem;
}

input#search {
    width: 40rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: 0.3rem solid var(--primary-color);
    border-radius: 2.5rem;
    background: linear-gradient(145deg, var(--background-color),rgba(240, 240, 240, 0.9));
    color: var(--text-color);
    text-align: center;
}







