
.pokemon-team {
    text-align: center;
    margin-top: auto; /* Placera längst ner */
    padding-top: 3rem;
}

.pokemon-team h2 {
    margin-top: 2rem;
}

.pokemon-team #team {
    display: flex; /* Rad av lag */
    gap: 1rem;
    flex-wrap: wrap; /* Tillåt radbrytning */
    justify-content: center; /* Centrera laget */
    margin-top: 1rem;
    background-color: var(--background-color);
}